<div class="create-page">
  <div class="create-content">
   <div class="main-page-link">
    <a routerLink="/main-page" class="main-page-link">Back</a>
   </div>
    <div class="anon-img">
      <img src="assets/img/no_avatar.gif" alt="">
    </div>

    <div class="error-message">
      <span>{{ errorMessage }}</span>
    </div>

    <form [formGroup]="createForm" (ngSubmit)="onCreate()" class="form-content">
      <div class="form-group">
        <div class="input-block">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email">
        </div>

        <div *ngIf="createForm.controls['email'].invalid && 
          (createForm.controls['email'].dirty || createForm.controls['email'].touched)" class="error">
          <span *ngIf="createForm.controls['email'].errors.required">Email is required</span>
          <span *ngIf="createForm.controls['email'].errors.pattern">Invalid email</span>
        </div>
      </div>

      <div class="form-group">
        <div class="input-block">
          <label for="login">Login</label>
          <input type="text" id="login" formControlName="login">
        </div>

        <div *ngIf="createForm.controls['login'].invalid && 
          (createForm.controls['login'].dirty || createForm.controls['login'].touched)" class="error">
          <span *ngIf="createForm.controls['login'].errors.required">Login is required</span>
        </div>
      </div>

      <div class="form-group">
        <div class="input-block">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password">
        </div>

        <div *ngIf="createForm.controls['password'].invalid && 
          (createForm.controls['password'].dirty || createForm.controls['password'].touched)" class="error">
          <span *ngIf="createForm.controls['password'].errors.required">passwordword is required</span>
        </div>
      </div>

      <div class="button-block">
        <button type="submit" class="btn-green" [disabled]="!createForm.valid">Create</button>
        <button type="button" class="btn-red" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
