<div class="main-conteiner">
  <div class="icon-content" (click)="openCloseChat()">
    <span *ngIf="!chatOpened">Admin chat</span>
    <span *ngIf="chatOpened">Close</span>
  </div>

  <div class="message-content" 
    *ngIf="chatOpened"
    [ngStyle]="{'top.px': positionEl}">
    <div class="messages-conteiner">
      <div class="messages">
        <div class="message-scrole-content">
          
          <div *ngFor="let message of messages"
            [className]="+message.idUser === userId ? 'right-message ' : 'left-message'">
            <span class="small name-user"> {{message.userLogin}} </span>
            <div [className]="+message.idUser === userId ? 'message-right ' : 'message-left'">
              {{message.message}}
            </div>
            <span class="small"> {{ message.createAt |  date: 'short'}} </span>
          </div>
          
          <div class="message" *ngIf="!messages">
            No messages
          </div>
        </div>
      </div>
    </div>

    <div class="write-message-content">
      <input type="text" id="message" [(ngModel)]="message">
      <button class="arrow-send" (click)="sendMessage()" [disabled]="!message"> 
        <fa-icon [icon]="arrowRight" class="upload-icon"></fa-icon>
      </button>
    </div>
  </div>
</div>
<!-- [ngStyle]="{'top.px': positionEl}" -->
<!-- [style.top.px]="getPosition()" -->