<div class="main">

  <div class="main-content">
    <div class="online-users">
      <div class="head-dialogue">
        <span class="group-chat">Online</span>
      </div>

      <div *ngFor="let user of usersOnlineList" class="online-users-list">
        <div *ngIf="user !== userName" class="user-name">
          <span> {{user}} </span>
        </div>
      </div>
    </div>

    <div class="dialogue-content">
      <div class="head-dialogue">
        <span class="group-chat">GROUP CHAT</span>
        <span class="logout" (click)="logOut()">LOGOUT</span>
      </div>

      <div class="message-content">
        <div class="dialogue">
          <div *ngFor="let message of messages"
            [className]="+message.idUser === userId ? 'right-message ' : 'left-message'">
            <span class="small name-user"> {{message.userLogin}} </span>
            <div class="message-string">
              <span>{{ message.message }}</span>
              <img *ngIf="message.path" [src]="'http://localhost:3000/api/get-img/' + message.id" alt="chash-img">
            </div>
            <span class="small"> {{ message.createAt |  date: 'short'}} </span>
          </div>
        </div>

        <div class="dialogue-message">
          <div class="info-oval user-name">
            {{ userName }}
          </div>
          <label for="file-loader" class="label">$</label>
          <input type="file" id="file-loader" (change)="onSelectedFile($event)">
          <input type="text" id="input" [(ngModel)]="message" (keydown.enter)="onSend()">
          <button type="submit" class="info-oval" (click)="onSend()"
            [disabled]="!message && !selectedFile">send</button>
        </div>

        <div class="footer-content"> </div>
      </div>
    </div>
  </div>

</div>