.message-font {
  font-family: 'DancingScript-Regular';
}

.main {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #F8F8FF;
  border-right: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  display: flex;
}

.online-users {
  width: 30%;
  border-right: 1px solid #DCDCDC;

  .head-dialogue {
    height: 40px;
    background-color: #B0C4DE;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
  }

  .user-conteiner {
    height: 100%;

    .conteiner {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      .users {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: scroll;
  
        .online-users-list {
          
          .user-name {
            max-width: 100%;
            min-height: 40px ;
            display: flex;
            align-items: center;
            padding-left: 10px;
          }
        }
      }
    }
  }
}

  
.dialogue-content {
  width: 70%;

  .head-dialogue {
    height: 40px;
    background-color: #B0C4DE;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;

    .back {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;

      .arrow-icon {
        cursor: pointer;
      }
    }

    .back:hover {
      font-size: 20px;
    }
  
    span {
      font-size: 20px;
    }

    .group-chat {
      flex: 1;
      text-align: center;
    }

    .logout:hover {
      cursor: pointer;
      color: brown;
    }

    .logout-icon {
      display: none;
    }
  }
  
  .chats-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .chats {
      height: calc(100% - 140px);
      padding: 1% 5%;
      overflow: hidden;
      border-bottom: 1px solid #DCDCDC;
      position: relative;

      .test-div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: scroll;
        padding: 1% 5%;

        .content-list {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: 5px 0;

          .chat-name {
            width: calc(100% - 10px);
            min-height: 35px;
            display: flex;
            align-items: center;
            background-color: #DCDCDC;
            padding: 0 5px;
            cursor: pointer;
            border: 1px solid transparent;
          }

          .chat-name:hover {
            border: 1px solid #ffffff;
          }
        }
      }

    }
    
    .create-chat-content {
      height: 100px;
      margin: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      button {
        height: 60px;
        width: 110px;
        color: white;
        font-weight: bold;
        border-radius: 30px;
        background-color: green;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        border: none;

        .plus {
          font-size: 18px;
        }
      }

      button:hover {
       background-color: #006400;
      }
    }
  }

}

@media only screen and (max-width: 600px) {
  .main-content {
    position: relative;
  }

  .main {
    width: 100%;
    max-width: 600px;
    margin: 0;
  }

  .main-content {
    width: 100%;
  }
  
  .online-users {
    display: none;
  }

  .logout {
    display: none;
  }
}