body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.btn-green,
.btn-red {
  width: 70px;
  height: 25px;
  border-radius: 5px;
  color: #000000;
  font-size: 11px;
  outline: none;
  cursor: pointer;
}

.btn-red {
  background-color: red;
}

.btn-green {
  background-color: green;
}

.main-page-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.main-page-link:hover {
  color: #4B0082;
  font-size: 19px;
}

.tooltip-style {
  min-width: 100px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #B0C4DE;
  border-radius: 2px;
  background-color: #ffffff;
}

.tooltip-top:before,
.tooltip-bottom:before  {
  content: '';
  position: absolute;
  display: block;    
  width: 0px;        
  left: 50%;
  border: 15px solid transparent;
}

.tooltip-top:before {
  border-bottom: 0;
  border-top: 15px solid #B0C4DE;
  transform: translate(-50%, calc(100% + 5px));
}

.tooltip-bottom:before {
  border-top: 0;
  border-bottom: 15px solid #B0C4DE;
  transform: translate(-50%, calc(-100% - 5px));
}

@font-face {
  font-family: 'DancingScript-Regular';
  src: url("./app/dancing-script/DancingScript-Regular.ttf") format("truetype");
}